* {
    margin: 0;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

/* Header */
header {
    margin-bottom: 100px;
    background-color: #175b9f;
    color: white;
    border-radius: 0 0 20px 20px;
}
header h1 {
    font-size: 45px;
    text-align: center;
    margin-bottom: 35px;
    padding: 10px 0;
}

/* Nav */
.line {
    display: flex;
    justify-content:space-around;
    padding-bottom: 20px;
}
ul li {
    list-style-type: none;
    font-size: 18px;
}
ul li a {
    color: white;
    text-decoration: none;
    margin-top: 7px;
    display: inline-block;
}
ul li a:hover {
    border-bottom: 2px solid black;
    font-size: 20px;
}
.mode {
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px;
}

/* Sections */
#home, #about {
    border: 2px solid gray;
    margin-bottom: 100px;
    background-color: aliceblue;
    box-shadow: 5px 5px 25px #a5a1a1;
    border-radius: 20px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
#home {
    font-size: 23px;
}
h2 {
    font-size: 29px;
    text-align: center;
}

/* Home layout */
.art {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0px auto;
    justify-content: space-around;
}
.left-section, .right-section {
    width: 45%;
    text-align: center;
    margin: 20px 0;
}

/* Profile image */
.my-img {
    border-radius: 50%;
    border: 3px solid #18cad3;
    box-shadow: 2px 2px 50px #817676;
    width: 250px;
    height: auto;
}
h5 {
    font-size: 25px;
    font-weight: 600;
    margin-top: 10px;
}

/* About text */
.ok {
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
   line-height: 1.6;
}

/* Footer */
footer {
    text-align: center;
}
.foot {
    background-color: #175b9f;
    color: white;
    padding: 15px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    font-size: 18px;
}
.social-links {
    margin-top: 15px;
}
.social{
    margin: 0 10px;
    text-decoration: none;
    color: white;
    background-color: #18cad3;
    padding: 6px 12px;
    border-radius: 8px;
    font-size: 15px;
    transition: 0.3s;
}
.social:hover {
    background-color: #125b8a;
    color: #fff;
}
